<!-- edit.html -->

{% extends 'main.html' %}

{% block contents %}

<script>
    function checkForm() {
        if($.trim($("#title").val()) == ""){
            alert("제목을 입력하세요.");
            $("#title").focus();
            return false;
        }
        if($.trim($("#contents").val()) == ""){
            alert("내용을 입력하세요.");
            $("#contents").focus();
            return false;
        }
    }
</script>
<form name="form" method="POST" action="{{url_for('board.board_edit', idx=data._id)}}" onsubmit="return CheckEditForm();">
    <input type="hidden" name="idx" value={{data._id}}>
    <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" class="form-control" id="name" name="name" disabled value={{session.get('name')}}>
    </div>
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요.." value="{{data.title}}">
    </div>
    <div class="form-group">
        <label for="contents">내용</label>
        <textarea class="form-control" rows="8" id="summernote" name="contents" placeholder="내용을 입력하세요..">{{data.contents}}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="수정하기">
</form>
{% endblock %}